<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="pioneer3dx_joints_state_publisher2">
    <gazebo>
        <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
          <robotNamespace></robotNamespace>
          <jointName>chassis_swivel_joint2, swivel_wheel_joint2, left_hub_joint2, right_hub_joint2</jointName>
          <updateRate>50.0</updateRate>
          <alwaysOn>true</alwaysOn>
        </plugin>
    </gazebo>
  </xacro:macro>
  

  <xacro:macro name="pioneer3dx_diff_drive2">
    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <rosDebugLevel>Debug</rosDebugLevel>
            <robotNamespace></robotNamespace>
            <publishWheelTF>false</publishWheelTF>
            <publishWheelJointState>true</publishWheelJointState>
            <alwaysOn>true</alwaysOn>
            <leftJoint>left_hub_joint2</leftJoint>
            <rightJoint>right_hub_joint2</rightJoint>
            <wheelSeparation>0.3</wheelSeparation>
            <wheelDiameter>0.18</wheelDiameter>
            <wheelTorque>20</wheelTorque>
            <wheelAcceleration>1.8</wheelAcceleration>
            <commandTopic>/r2/cmd_vel</commandTopic>
            <odometryTopic>/r2/odom</odometryTopic>
            <odometryFrame>odom2</odometryFrame>
            <odometrySource>world</odometrySource>
            <robotBaseFrame>base_link2</robotBaseFrame>
	    <updateRate>50</updateRate>
        </plugin>
    </gazebo>

  </xacro:macro>



</robot>
